<nav class="container mx-auto pt-7">
   <ul class="flex flex-row justify-between flex-wrap ">
      <div class="h-16 w-16 ">
         <img class="" src="./logo-dark.png" alt="" />
      </div>
      <div class="px-4 flex flex-row justify-between flex-wrap text-lg pt-4 space-x-10 ">
         <li class="transition ease-in-out  hover:scale-110 hover:text-blue-500 cursor-pointer">
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">{{ 'accueil' | translate }}</a>
         </li>
         <li class="transition ease-in-out hover:text-blue-500 hover:scale-110 cursor-pointer">
            <a routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page">{{ 'inscription' | translate }}</a>
         </li>
         <li class="transition ease-in-out hover:text-blue-500 hover:scale-110 cursor-pointer">
            <a routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page">{{ 'connexion' | translate }}</a>
         </li>
         <li class="transition ease-in-out hover:text-blue-500 hover:scale-110 cursor-pointer">
            <a routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page">{{ 'a_propos' | translate }}</a>
         </li>
         <li class="transition ease-in-out hover:text-blue-500 hover:scale-110 cursor-pointer">
            <a routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page">{{ 'contact' | translate }}</a>
         </li>
         <li>
            <select (change)="changeLanguage($event)" name="lang"
               class="text-black bg-blue-300 outline-none px-2 pb-1 rounded-full">
               <option *ngFor="let lang of languages" value="{{ lang  }}" class="font-medium uppercase">
                  {{ lang | translate }}
               </option>
            </select>
         </li>
      </div>
   </ul>
</nav>
