
<nav class="container mx-auto py-5">
  <ul style="display: flex; flex-direction: row;">
    <li style="margin-right: 40px;">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Accueil</a>
    </li>
    <li style="margin-right: 40px;">
      <a routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page">Sign up</a>
    </li>
    <li style="margin-right: 40px;">
      <a routerLink="/log-in" routerLinkActive="active" ariaCurrentWhenActive="page">Log In</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet />
</main>
