<main class="">
  <div class="h-screen w-full grid grid-cols-1 md:grid-cols-2">
     <div style="background-color: rgba(106, 202, 246, 0.123);" class="hidden md:flex justify-center items-center ">
        <img class="w-2/3 h-auto" src="./assets/img/Manage money-amico.png" alt="" />
     </div>
     <div class="py-10 w-[80%] md:w-2/3 mx-auto">
        <div class="h-16 w-16 overflow-hidden">
           <img class="w-full h-full" src="./logo-white.png" alt="" />
        </div>
        <h1 class=" text-3xl font-extrabold mt-3 mb-5">Bienvenue sur Tontine Hope</h1>

        <form [formGroup]="UserForm" (ngSubmit)="onSubmit()" class="form flex flex-col space-y-3"  >

           <div >
              <label class="block mb-1 text-base text-gray-400" for="email">Adresse Mail</label>
              <div style="background-color: rgba(106, 202, 246, 0.123);" class="rounded-lg w-full">
                 <input type="email" formControlName="email"  class=" form-control w-full block flex-1 bg-transparent rounded-lg py-3 pl-4
              text-gray-900 ring-1 ring-inset ring-gray-50 placeholder:text-gray-400
              placeholder:text-sm sm:text-sm sm:leading-6" placeholder="Votre adresse email*" />

              <span class="text-red-600 italic text-sm"
              *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
              <p>Email est obligatoire</p>
               </span>
               <span class="text-red-600 italic text-sm"
                  *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                  <p>Entrer une adresse email valide </p>
               </span>
              </div>
           </div>

           <div >
              <label class="block mb-1 text-base text-gray-400" for="nom">Mot de passe</label>
              <div style="background-color: rgba(106, 202, 246, 0.123);" class="rounded-lg w-full">
                 <input type="password" formControlName="password" name="password" class="w-full block flex-1 bg-transparent rounded-lg py-3 pl-4
              text-gray-900 ring-1 ring-inset ring-gray-50 placeholder:text-gray-400
              placeholder:text-sm sm:text-sm sm:leading-6" placeholder="Votre mot de passe*" />
              </div>

              <span class="text-red-600 italic text-sm"
               *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
               <p>Le mot de passe est obligatoire</p>
               </span>
                  <span class="text-red-600 italic text-sm"
                     *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
               <p> le mot de passe doit avoir au moin 8 characters, au moin 1 lettre majuscule, 1 lettre 
                     minuscule et 1 nombre</p>
               </span>
           </div>

           <div class="flex flex-1 justify-between items-center">
              <div class=" form-group flex items-center">
                 <input class="h-3 w-3 cursor-pointer" name="remember-me" type="checkbox" checked>
                 <label for="remember-me" class="text-xs text-gray-400 ml-1">Se souvenir de moi</label>
              </div>
              <div>
                 <span style="color: var(--blue-color);" class="text-xs cursor-pointer">Mot de passe oublié ?</span>
              </div>
           </div>

           <div class="pt-5">
              <button type="submit" class="w-full text-lg font-semibold py-2 bg-blue-500 rounded-lg u">Se
                 connecter</button>
           </div>
           <p class="text-xs text-gray-500 pt-3">N’avez-vous pas de compte ?
              <a style="color: var(--blue-color);" class="cursor-pointer" routerLink="/sign-up" routerLinkActive="active" ariaCurrentWhenActive="page">Créer un compte</a>
           </p>

           <div class="flex items-center py-2">
              <hr class="flex-1" />
              <span class="w-auto mx-3 text-gray-400 text-xs font-medium">Ou continuer avec</span>
              <hr class="flex-1" />
           </div>

           <div class="flex justify-center items-center gap-x-5">
              <div class="google p-2 h-12 w-12 rounded-full bg-white shadow-sm shadow-gray-300">
                 <img class="w-full h-full" src="./assets/img/google.png" alt="" />
              </div>
              <div class="facebook p-2 h-12 w-12 rounded-full bg-white shadow-sm shadow-gray-300">
                 <img class="w-full h-full" src="./assets/img/facebook.png" alt="" />
              </div>
           </div>
        </form>
     </div>
  </div>
</main>
